<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% include ./models/bs_css.ejs %>
    <title>Document</title>
</head>

<body>
  <div class="container text-center">
    <form action="/login" method="post">
      <h1>登入頁面</h1>
      <div class="row">
        <div class="col-5 m-auto border border-5 border-primary p-1">
          <div class="row">
            <div class="col-5">帳號</div>
            <div class="col-7"><input type="text" class="w-100" name="username"></div>
          </div>
          <div class="row">
            <div class="col-5">密碼</div>
            <div class="col-7"><input type="password" class="w-100" name="password"></div>
          </div>
          <div class="row m-2">
            <div class="col-8 m-auto">
              <button class="btn btn-primary w-100" type="submit">送出</button>
            </div>
          </div>
          <div class="row m-2">
            <div class="col-8 m-auto ">
              <a href="/signUp" class="btn btn-primary w-100">註冊</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <% include ./models/bs_js.ejs %>
</body>

</html>