<nav class="navbar navbar-expand-lg navbar-light bg-light row">
  <div class="container-fluid col-11">
    <a class="navbar-brand fw-bold  fs-2" href="/">TO<span style="color:rgb(255, 193, 7);">D</span>O
      Li<span style="color:rgb(255, 193, 7);">s</span>t</a>
    <span class="text-muted fs-6 fw-lighter lh-sm" aria-disabled="true">
      If life knocks you down, then just stay lying down
    </span>
    <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
      <li class="nav-item dropdown" style="align-items: flex-end;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Settings
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/logout">LOGOUT</a></li>
        </ul>
      </li>
    </ul>
    <hr />
  </div>
</nav>